html {
    background-color: lightgray;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: black;
}

body {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    max-width: 1200px;
    min-height: 100vh;
    padding: 0 40px;
    margin: 0 auto;
    box-shadow: 0px 0px 25px black;
    background-color: white;
    padding-bottom: 40px;
}

img {
    filter: drop-shadow(0px 0px 5px grey);
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

header a {
    margin: 10px 0;
}

header a > h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

p > a, li > a {
    color: orangered;
    padding: 2px;
    border-radius: 5px;
}

p > a::before, li > a::before {
    content: '🔗';
}

blockquote {
    border: 1px solid black;
    padding: 10px;
    border: 1px solid black;
    margin-left: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
}

pre {
    color: white;
    background-color: darkslategray;
    filter: drop-shadow(0px 0px 5px grey);
    border-radius: 10px;
    padding: 20px;
    overflow-x: auto;
}

.vertical {
    display: flex;
    flex-direction: column;
}

p > code, li > code {
    color: orangered;
    font-weight: 800;
    background-color: rgb(238, 238, 238);
    padding: 2px;
    border-radius: 5px;
}

@media only screen and (min-width: 750px) {
    img {
        width: initial;
    }    
    header {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: darkgray;
    }
    body {
        background-color: black;
        color: white;
    }
    header {
        border-color: white;
    }
    a {
        color: pink;
    }
    pre {
        background-color: plum;
        color: black;
    }
    blockquote {
        border-color: white;
    }
}
